@font-face {
  font-family: gowFont; /* set name */
  src: url(../assets/GODOFWAR.TTF); /* url of the font */
}

body{
    font-family: gowFont;
    background-image: url(../assets/title.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    
}



.mainBox {
    background-color: grey;
    max-width: 600px;
    overflow: hidden;
    text-align: center;
    border: 20px;
    border-color: black;
    border-width: 10px;
    border-style: inset;
    
    
}
.large {
  width: 100%;
  height: 500px;

}
button {
  border-radius: 0px;
  background-color: orange;
}

.buttons {
  height: 100px;
  width: auto;
}
.myImage {
  height: 500px;
  width: auto;
}